body{
    padding: 0px;
margin: auto;
width: 500px;
height: 800px;
border: 8px dashed #993;
background-color: rgb(30, 400, 600);  
}
header h2{
    color:white;
    padding: inherit;
    background-color:#0a2a66;
    font-family: sans-serif;
    justify-content: space-around;
    display: flex;
    text-align: center;
}
header h3{
    font-size: 28px;
    text-align: center;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
canvas {
    
    width: 400px;
    border: 5px solid #0a2a66;
    padding: 10px;
}